@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

:root {
    --marrom-escuro: #181012;
    --marrom-medio: #1F1517;
    --marrom-card: #241A1C;
    --marrom-claro: #23181A;
    --cor-card: #251a1c;
    --branco: #FFFFFF;
    --branco-titulo: #FFF2E7;
    --branco-transparente: #fff2e77c;
    --feedback: #756A67;
    --cor-apresentacao: #A45A49;
    --cinza-claro: #C7BAB3;
    --montserrat: 'Montserrat', sans-serif;
    --inter: 'Inter', sans-serif;
    --epilogue: 'Epilogue', sans-serif;
    --teko: 'Teko', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: var(--marrom-medio);
}

.header__principal {
    background-color: var(--marrom-medio);
}

.header__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
    /* max-width: 1120px; */
}

.logo {
    color: var(--branco);
    font-family: var(--teko);
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

.nav__item {
    display: flex;
    gap: 2em;
    list-style-type: none;
}

.nav__link {
    text-decoration: none;
    color: var(--branco-transparente);
    font-family: var(--inter);
    font-size: 1em;
    font-weight: 400;
}

.github {
    text-decoration: none;
    color: var(--branco);
    font-family: var(--inter);
}

.principal {
    background-color: var(--marrom-escuro);
}

.banner__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6em;
    
    max-width: 70em; 
    height: 45vh;
    padding: 0 2em;
    margin: auto;
    overflow: clip;
    align-items: center;
}

.banner__marrom-escuro {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

/* .banner__coluna {
    display: flex;
    
} */

.banner__destaque {
    text-transform: uppercase;
    font-size: 1em;
    font-family: var(--epilogue);
    font-weight: 350;
    color: var(--cor-apresentacao);
}

.banner__titulo {
    font-family: var(--montserrat);
    font-size: 3.5em;
    font-weight: 800;
    color: var(--branco);
    line-height: 120%;
    text-align: left;
}

hr {
    border-color: var(--cor-apresentacao);
}

.banner__texto {
    font-family: var(--inter);
    font-size: 1.25em;
    color: var(--cinza-claro);
    line-height: 156%;
    text-align: left;
}

.banner__imagem {
    column-count: 4;
    max-width: 45%;
    column-gap: 1em;
    margin: -1em;
}

.banner__imagem > figure > img {
    width: 100%;
    border-radius: 0.5em;
}

.botao__container {
    width: 100%;
    max-width: 70em;
    
    margin: auto;
    transform: translate("0, -50%");
}

button {
    border: none;
    padding: 1em;
    border-radius: 0.5em;
    background: var(--cor-apresentacao);
}

.receitas {
   
    display: flex;
    flex-direction: column;
    max-width: 70em;
    padding: 3em 2em;
    margin: auto;
    
}

.receitas__cabecalho {
   display: flex;
   flex-direction: column;
   gap: 0.5em;
   
    
}

.receitas__destaque {
    font-size: 1em;
    font-family: var(--epilogue);
    font-weight: 350;
    text-transform: uppercase;
    color: var(--cor-apresentacao);
}

.receitas__titulo {
    font-size: 2em;
    font-family: var(--montserrat);
    font-weight: 700;
    color: var(--branco);
    line-height: 120%;
}

.receitas__texto {
    color: var(--cinza-claro);
    font-size: 1em;
    font-family: var(--inter);
    font-weight: 500;
    line-height: 148%;

}

.card__container {
    padding: 1.5em;
    margin: 2em 0 0 0;
    width: 35em;
    height: 11.6em;
    background-color: var(--marrom-claro);
    border-radius: 0.5em;
    
}

.card__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    
}

.card__column {
    display: flex;
    flex-direction: column;
    
    
    
}

.card__destaque {
    color: #E7A80E;
    font-size: 1em;
    font-family: var(--epilogue);
    font-weight: 350;
    text-transform: uppercase;
}

.card__titulo {
    font-size: 1.25em;
    font-family: var(--montserrat);
    font-weight: 700;
    color: var(--branco-titulo);
    line-height: 120%;
    letter-spacing: -2%;
    
}

.card__feedback {
    font-family: var(--inter);
    font-size: 1em;
    font-weight: 400;
    color: var(--feedback);
    line-height: 132%;
}

.card__texto {
    font-size: 1em;
    font-family: var(--inter);
    font-weight: 400;
    line-height: 140%;
    color: var(--cinza-claro);
    margin-top: 1em;
}

.card__perfil-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    margin: 2em 0 0 0;
}

.card__usuario {
    font-size: 1em;
    font-family: var(--inter);
    font-weight: 500;
    color: var(--cinza-claro);
}

.colunas {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 72em;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    background-color: var(--marrom-claro);
    
    height: 25vh;
}

footer > p {
    text-align: center;
    color: var(--branco-transparente);
   
}

.paragrafo__branco {
    color: var(--branco);
}








